<!doctype html>
<html lang="en">
{% load static %}
{% include '_head_template.html' %}
<body>

{% include '_header_template.html' %}

<div class="container-fluid">
    <div class="row">
        {% include "_nav_template.html" %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                {% for item in items %}

                    <a href="/tasks/{{ item.index }}"
                       style="color: #212529; text-underline: none; text-decoration: none">
                        <div class="row featurette">
                            <div class="col-md-8">
                                <h2 class="featurette-heading">
                                    {{ item.heading }}
                                    <span class="text-muted">{{ item.subheading }}</span>
                                </h2>
                                <p class="lead">{{ item.brief }}</p>
                            </div>
                            <div class="col-md-4">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                     width="200" height="200" xmlns="http://www.w3.org/2000/svg"
                                     preserveAspectRatio="xMidYMid slice"
                                     focusable="false"><title>{{ item.graph_text }}</title>
                                    <rect width="100%" height="100%" fill="{{ item.block_color }}"></rect>
                                    <text x="25%" y="70%" fill="{{ item.font_color }}" font-size="100px"
                                          font-family="Helvetica">{{ item.graph_text }}</text>
                                </svg>

                            </div>
                        </div>
                    </a>

                    <hr class="featurette-divider">

                {% endfor %}

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->


            <!-- FOOTER -->
            <footer class="container">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>&copy; 2020-2021 同济金课课题组.</p>
            </footer>
        </main>
    </div>
</div>


<script src="{% static "js/bootstrap.bundle.js" %}"></script>


</body>
</html>
