<!doctype html>
<html lang="zh">
{% load static %}
{% include "_head_template.html" %}
<body>

{% include "_header_template.html" %}

<div class="container-fluid">
    <div class="row">

        {% include '_nav_template.html' %}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="width: 80%">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{ heading }} &emsp; <span style="color: darkgray">{{ subheading }}</span> </h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
            {% if due_time %}
                <p> 截止日期：{{ due_time|date:"Y-m-d" }}</p>
            {% endif %}

            {{ content|safe }}

            <hr>

            {% if allow_files and not teacher_view %}
                <form method="POST" class="form-control-color" role="form" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <input type="submit" value="提 交">
                    <p> {{ error }} </p>
                    {% csrf_token %}
                </form>

                <hr>
            {% endif %}

            {% if teacher_view %}
                <h2 class="h2"> 上传情况 </h2>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>学生</th>
                        <th>文件</th>
                        <th>提交时间</th>
                        <th>操作</th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td>{{ file.student.ID }}</td>
                            <td>{{ file.file.name|slice:"6:" }}</td>
                            <td>{{ file.time|date:"Y-m-d H:i:s" }}</td>
                            <td><a href="/download/{{ file.index }}"> 下载 </a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <footer class="container">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p>
                    {% if prev_page %}
                        <a href="/courses/{{ prev_page }}"> 上一节</a> ·
                    {% endif %}
                    {% if next_page %}
                        <a href="/courses/{{ next_page }}"> 下一节</a>
                    {% endif %}
                </p>
                <p>&copy; 2020-2021 同济金课课题组.</p>
            </footer>

        </main>
    </div>
</div>


<script src={% static "js/bootstrap.bundle.min.js" %}></script>

</body>
</html>
